---
layout: default-amp
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    
    {% if page.recipe.servings %}
    <ul id="recipe" class="recipe-overview">
		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>Serve: {{ page.recipe.servings }}</span></li>
		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>Preparo: {{ page.recipe.prep }}</span></li>
		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>Tempo: {{ page.recipe.cook }}</span></li>
	</ul>
	
	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Ingredientes</h2>
			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>

		<div class="directions">
			<h2>Passo a Passo</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>
	{% endif %}
	
    </section>
    
    <footer class="post-footer">
      <section class="share">
        	<p class="heading">
     <amp-social-share type="twitter"
        data-param-text="Amazing recipe that my friend made"
        width="45"
        height="33"></amp-social-share>
  <amp-social-share type="facebook"
        width="45"
        height="33"
        data-attribution="254325784911610"></amp-social-share>
  <amp-social-share type="gplus"
        width="45"
        height="33"></amp-social-share>
  <amp-social-share type="email"
        width="45"
        height="33"></amp-social-share>
  <amp-social-share type="pinterest"
        width="45"
        height="33"></amp-social-share>
         </p>
        </a>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Postado por:</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span></span></span></a>
              {% endif %}
            </span>
            <span>
              {% if site.facebook_username %}
                <a href="https://facebook.com/{{ site.facebook_username }}"><span class="icon icon--github">{% include icon-facebook.svg %}</span></span></a>
              {% endif %}
            </span>
            <span>
              {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span></span></span></a>
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>
	
      </div>
    </div>
  </article>
</main>
