---
layout: default-amp
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    
    {% if page.recipe.servings %}
    <form id="rating"
  class="p2"
  method="post"
  action-xhr="/samples_templates/rating/set"
  target="_blank">
  <fieldset class="rating">
    <input name="rating"
      type="radio"
      id="rating5"
      value="5"
      on="change:rating.submit" />
    <label for="rating5"
      title="5 stars">☆</label>

    <input name="rating"
      type="radio"
      id="rating4"
      value="4"
      on="change:rating.submit"
      checked="checked" />
    <label for="rating4"
      title="4 stars">☆</label>

    <input name="rating"
      type="radio"
      id="rating3"
      value="3"
      on="change:rating.submit" />
    <label for="rating3"
      title="3 stars">☆</label>

    <input name="rating"
      type="radio"
      id="rating2"
      value="2"
      on="change:rating.submit" />
    <label for="rating2"
      title="2 stars">☆</label>

    <input name="rating"
      type="radio"
      id="rating1"
      value="1"
      on="change:rating.submit" />
    <label for="rating1"
      title="1 stars">☆</label>
  </fieldset>
  <div submit-success>
    <template type="amp-mustache">
      <p>Thanks for rating {{rating}} star(s)!</p>
    </template>
  </div>
  <div submit-error>
    <template type="amp-mustache">
     Please try to rate again. {{error}}
    </template>
  </div>
</form>
    <ul id="recipe" class="recipe-overview">
		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>Serve: {{ page.recipe.servings }}</span></li>
		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>Preparo: {{ page.recipe.prep }}</span></li>
		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>Tempo: {{ page.recipe.cook }}</span></li>
	</ul>
	
	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Ingredientes</h2>
			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>

		<div class="directions">
			<h2>Passo a Passo</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>
	{% endif %}
	
    </section>
    
    <footer class="post-footer">
      <section class="share">
        	<p class="heading">
     <amp-social-share type="twitter"
        data-param-text="Amazing recipe that my friend made"
        width="45"
        height="33"></amp-social-share>
  <amp-social-share type="facebook"
        width="45"
        height="33"
        data-attribution="254325784911610"></amp-social-share>
  <amp-social-share type="gplus"
        width="45"
        height="33"></amp-social-share>
  <amp-social-share type="email"
        width="45"
        height="33"></amp-social-share>
  <amp-social-share type="pinterest"
        width="45"
        height="33"></amp-social-share>
         </p>
        </a>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Postado por:</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.instagram_username %}
                <a href="https://instagram.com/{{ site.instagram_username }}">{% include social-icon.html icon="Instagram" %}</a>
              {% endif %}
            </span>
            <span>
              {% if site.facebook_username %}
                <a href="https://facebook.com/{{ site.facebook_username }}">{% include social-icon.html icon="Facebook" %}</a>
              {% endif %}
            </span>
            <span>
              {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}">{% include social-icon.html icon="Twitter" %}</a>
              {% endif %}
            </span>
            <span>
              {% if site.pinterest_username %}
                <a href="https://pinterest.com/{{ site.pinterest_username }}">{% include social-icon.html icon="Pinterest" %}</a>
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>
      </div>
    </div>
    <h3>Deixe seu Comentário</h3> 
     <amp-facebook-comments width="486"
  height="657"
  layout="responsive"
  data-href="{{site.url}}{{ page.id }}">
    </amp-facebook-comments>
  </article>
</main>
